.price {
  &__title {
    font-family: 'TT Lakes Medium';
    color: $font-color-gray;
    font-size: 16px;
    letter-spacing: -0.6px;
    margin: 0;
    border-top: 3px solid $light-lagoon-color;
    padding: 1vw 2vw;
    background-image: linear-gradient(
      to right,
      $light-gray-color,
      $white-color
    );
  }

  &__head {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    font-size: 14px;
    line-height: 16px;
    color: $font-color-gray;
    align-items: center;
    height: 48px;
    margin: 0 24px;
    padding: 0 16px;
  }

  &__swiper {
    height: auto;
    margin: 0 2vw 2vw;
    padding: 0;
    background-color: $white-color;
  }

  &__card {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 0;
    color: $font-color-black;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    height: 64px;
    border: none;
    border-radius: 0px;
    background-color: $white-color;
    padding: 0;
    border-bottom: 1px solid $border-gray-color;
    box-sizing: content-box;
  }
}

.price-wrapper {
  padding: 0 1vw;
}

.price .price__card:hover {
  font-weight: 500;
}

.card__btn {
  border-width: 0;
  border-radius: 16px;
  background-color: $pink-color;
  color: $white-color;
  line-height: 24px;
  font-size: 12px;
  letter-spacing: -0.15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 8px 4px 12px;
  display: flex;
  margin-left: auto;
}

.card__btn::after {
  content: '';
  background: url(../img/goside.svg);
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.price__text {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 420px;
  margin: 0 2vw 1vw;
}

.price__btn {
  margin: 0 2vw 1vw;
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  font-weight: 800;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

.price__btn-arrow {
  padding: 18px 18px;
  display: inline;
  vertical-align: middle;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .price-wrapper {
    padding: 0 1vw;
    display: grid;
    box-sizing: border-box;
  }

  .card__title {
    display: none;
  }
  .price__head-col--services {
    flex-basis: 348px;
    flex-grow: 1;
  }

  .price__head-col--price {
    flex-basis: 74px;
    flex-grow: 1;
  }

  .price__head-col--term {
    flex-basis: 220px;
    flex-grow: 1;
  }
  .card__item--services {
    flex-basis: 348px;
    flex-grow: 1;
  }

  .card__item--price {
    flex-basis: 74px;
    flex-grow: 1;
  }

  .card__item--term {
    flex-basis: 220px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .price__card {
    height: 180px;
    width: 270px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 10px;
    gap: 0;
    border: 1px solid $border-gray-color;
    justify-content: space-between;
  }

  .price-wrapper {
    display: flex;
    padding: 0;
  }

  .card__title {
    display: block;
    color: $gray-color
  }

  .price__head {
    display: none;
  }
  .card__item--term {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .price__swiper {
    background-color: transparent;
    margin: 0;
  }
  .card__item--services {
    line-height: 12px;
  }
}
