* {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.header {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  background-size: cover;
}
.left-header {
  display: flex;
  background-color: white;
  align-items: center;
}
.right-header {
  display: flex;
  background-color: white;
}
.header::before {
  content: '';
  background: rgb(234, 234, 234);
  left: 59vw;
  top: 28px;
  bottom: 28px;
  width: 2px;
  height: 32px;
  display: block;
  position: absolute;
  border-radius: 15%;
}
.header::after {
  content: '';
  background: #d9fff5;
  left: 0;
  right: 0;
  top: 87px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
}
.button {
  border-style: none;
  width: 40px;
  height: 40px;
  background-color: white;
}
.burger,
.logo,
.call,
.chat,
.profile,
.repair,
.checkstatus {
  background-color: white;
}
.burger__button {
  background-image: url('../img/ic_burger.svg');
  margin-left: 3vw;
}
.logo {
  margin-left: 3vw;
}
.call__button {
  background-image: url('../img/ic_call.svg');
  display: none;
  margin-right: 2vw;
}
.chat__button {
  background-image: url('../img/ic_chat.svg');
  display: none;
  margin-right: 2vw;
}
.profile__button {
  background-image: url('../img/ic_profile.svg');
  display: none;
  margin-right: 5vw;
}
.repair__button {
  background-image: url('../img/ic_repair.svg');
  margin-right: 2vw;
  position: relative;
}
.checkstatus__button {
  background-image: url('../img/ic_checkstatus.svg');
  margin-right: 3vw;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}
.main-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-header__h1 {
  color: rgb(27, 28, 33);
  font-family: 'TT Lakes Bold';
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.6px;
  margin-top: 5vw;
  margin-left: 3vw;
  width: 100%;
}
.main-header__h1::before {
  content: url('../img/highlight.svg');
  position: absolute;
  left: 0;
}
label {
  display: none;
}
.nav {
  position: relative;
  width: 100%;
  padding: 2vw 3vw;
  overflow: hidden;
}
.scroll-wrapper {
  padding-bottom: 200px;
  margin-bottom: -200px;
  overflow: auto;
}
.slide-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-height: 40px;
  position: relative;
  width: 100%;
}
.slide-menu__button {
  list-style: none;
  background-color: #f8f8f8;
  padding: 0.7rem;
}
.slide-menu__button > a {
  padding: 5px;
  color: rgb(126, 126, 130);
  font-family: 'TT Lakes Medium';
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: -0.2px;
}
.slide-menu__button--active {
  border-style: solid;
  border-color: #b8ffec;
  background-color: white;
  border-width: 2px;
  border-radius: 6px;
}
.slide-menu__button--active > a {
  background-color: white;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content__text {
  color: rgb(27, 28, 33);
  font-family: 'TT Lakes Rgular';
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-left: 1em;
}
.content-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content-text__text {
  font-family: 'TT Lakes Regular';
  max-width: 100%;
  padding: 0 3.2vw 1.7vw 3vw;
  font-size: 0.88rem;
}
.content-text__text--pad {
  display: none;
}
.content__text--computer {
  display: none;
}
.content-image__image {
  width: 100%;
}
.main-header__label {
  min-width: 140px;
  font-family: 'TT Lakes Medium';
  color: #1b1c21;
  font-weight: 500;
  font-size: 1rem;
  cursor: default;
  align-self: flex-end;
  position: relative;
  padding-bottom: 12px;
}
.main-header__repair-button {
  background-image: url('../img/ic_repair.svg');
  background-repeat: no-repeat;
  margin-right: 2vw;
  align-self: flex-end;
  display: none;
}
.main-header__checkstatus-button {
  background-image: url('../img/ic_checkstatus.svg');
  background-repeat: no-repeat;
  margin-right: 2vw;
  align-self: flex-end;
  display: none;
}
.expand__button::before {
  content: url('../img/ic_expand.svg');
  position: absolute;
  left: 4vw;
  top: -2px;
}
.expand__button {
  position: relative;
  font-family: 'TT Lakes Medium';
  font-weight: 500;
  padding: 0 0 5vw 8vw;
  font-size: 1rem;
  background-color: #f8f8f8;
  border-style: none;
  padding-left: 10vw;
}
@media (min-width: 768px) {
  .header::before {
    left: calc(40px + 6vw);
  }
  .repair__button::before {
    content: '';
    background: #eaeaea;
    right: 6.5vw;
    top: 5px;
    width: 2px;
    height: 32px;
    position: absolute;
    border-radius: 15%;
  }
  .call__button,
  .chat__button,
  .profile__button {
    display: block;
  }
  label {
    display: none;
  }
  .main-header__repair-button,
  .main-header__checkstatus-button {
    display: none;
  }
  .nav {
    width: 100%;
    padding: 2vw 3vw;
  }
  .scroll-wrapper {
    overflow-x: auto;
  }
  .slide-menu {
    flex-wrap: nowrap;
  }
  .content {
    flex-direction: row;
  }
  .content-text__text--pad {
    display: inline;
  }
  .content-image__image {
    object-fit: cover;
    width: 360px;
    height: 208px;
    margin-right: 3vw;
    border-radius: 3%;
  }
  .content__text--computer {
    display: none;
  }
}
@media (min-width: 1120px) {
  .main {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    display: none;
  }
  .content-image__image {
    object-fit: cover;
    width: 532px;
    height: 307px;
    margin-right: 3vw;
    border-radius: 3%;
  }
  .nav {
    width: 1096px;
    padding: 2vw 3vw;
  }
  .slide-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content__text--computer {
    display: inline;
  }
  .expand__button {
    padding-left: 7vw;
  }
  label,
  .main-header__repair-button,
  .main-header__checkstatus-button {
    display: block;
  }
}
