.main-content {
  background-color: $light-gray-color;
}

.header {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  background-size: cover;
}

.left-header {
  display: flex;
  background-color: $white-color;
  align-items: center;
}

.right-header {
  display: flex;
  background-color: $white-color;
}

.header::before {
  content: '';
  background: $gray-color;
  left: 59vw;
  top: 28px;
  bottom: 28px;
  width: 2px;
  height: 32px;
  display: block;
  position: absolute;
  border-radius: 15%;
}

.header::after {
  content: '';
  background: $light-lagoon-color;
  left: 0;
  right: 0;
  top: 87px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute;
}

.button {
  border-style: none;
  width: 40px;
  height: 40px;
  background-color: $white-color;
}

.burger,
.logo,
.call,
.chat,
.profile,
.repair,
.checkstatus {
  background-color: $white-color;
}

.burger__button {
  background-image: url('../img/ic_burger.svg');
  margin-left: 3vw;
}

.logo {
  margin-left: 3vw;
}

.call__button {
  background-image: url('../img/ic_call.svg');
  display: none;
  margin-right: 2vw;
}

.chat__button {
  background-image: url('../img/ic_chat.svg');
  display: none;
  margin-right: 2vw;
}

.profile__button {
  background-image: url('../img/ic_profile.svg');
  display: none;
  margin-right: 5vw;
}

.repair__button {
  background-image: url('../img/ic_repair.svg');
  margin-right: 2vw;
  position: relative;
}

.checkstatus__button {
  background-image: url('../img/ic_checkstatus.svg');
  margin-right: 3vw;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 0 2vw 0 2vw;
}

.main-header__h1 {
  color: $font-color-black;
  font-family: 'TT Lakes Bold';
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -0.6px;
  width: 100%;
}

.main-header__h1::before {
  content: url('../img/highlight.svg');
  position: absolute;
  left: 0;
}

label {
  display: none;
}

.nav {
  position: relative;
  padding: 0 2vw 0 2vw;
  overflow: hidden;
}

.scroll-wrapper {
  padding-bottom: 200px;
  margin-bottom: -200px;
  overflow: auto;
}

.slide-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-height: 40px;
  position: relative;
  padding-left: 0;
}

.slide-menu__button {
  list-style: none;
  background-color: $light-gray-color;
  padding: 0.7rem;
}

.slide-menu__button > a {
  padding: 5px;
  color: $font-color-gray;
  font-family: 'TT Lakes Medium';
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: -0.2px;
}

.slide-menu__button:hover {
  border-style: solid;
  border-color: $lagoon-color;
  background-color: $white-color;
  border-width: 2px;
  border-radius: 5px;
  transition-duration: 0.2;
}

.slide-menu__button--active > a {
  background-color: $white-color;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 2vw 3vw 2vw;
}

.content-text {
  color: $font-color-black;
  font-family: 'TT Lakes Rgular';
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;

  padding-bottom: 10px;
}

.content-text__text {
  font-family: 'TT Lakes Regular';
  max-width: 100%;
  padding-right: 1vw;
  font-size: 0.88rem;
}

.content-text__text--pad {
  display: none;
}

.content__text--computer {
  display: none;
}

.content-image__image {
  width: 100%;
}

.main-header__label {
  min-width: 140px;
  font-family: 'TT Lakes Medium';
  color: $font-color-black;
  font-weight: 500;
  font-size: 1rem;
  cursor: default;
  align-self: flex-end;
  position: relative;
  padding-bottom: 12px;
}

.main-header__repair-button {
  background-image: url('../img/ic_repair.svg');
  background-repeat: no-repeat;
  margin-right: 2vw;
  align-self: flex-end;
  display: none;
}

.main-header__checkstatus-button {
  background-image: url('../img/ic_checkstatus.svg');
  background-repeat: no-repeat;
  align-self: flex-end;
  display: none;
}

@media (min-width: 768px) {
  .header::before {
    left: calc(40px + 6vw);
  }

  .repair__button::before {
    content: '';
    background: $border-gray-color;
    right: 6.5vw;
    top: 5px;
    width: 2px;
    height: 32px;
    position: absolute;
    border-radius: 15%;
  }

  .call__button,
  .chat__button,
  .profile__button {
    display: block;
  }

  label {
    display: none;
  }

  .main-header__repair-button,
  .main-header__checkstatus-button {
    display: none;
  }

  .nav {
    padding: 0 2vw 0 2vw;
  }

  .scroll-wrapper {
    overflow-x: auto;
  }

  .slide-menu {
    flex-wrap: nowrap;
  }

  .content {
    flex-direction: row;
  }

  .content-text__text--pad {
    display: inline;
  }

  .content-image__image {
    object-fit: cover;
    width: 360px;
    height: 208px;
    border-radius: 3%;
  }

  .content__text--computer {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main {
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: none;
  }

  .content-image__image {
    object-fit: cover;
    width: 532px;
    height: 307px;
    border-radius: 3%;
  }

  .nav {
    padding: 0 2vw 0 2vw;
  }

  .slide-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content__text--computer {
    display: inline;
  }

  .expand__button {
    padding-left: 7vw;
  }

  label,
  .main-header__repair-button,
  .main-header__checkstatus-button {
    display: block;
  }
}

//  показать скрыть текст

.content-text__text--pad.show_text {
  display: inline;
}
.content__text--computer.show_text {
  display: inline;
}
